    /* Style for the header */
  header {
    background-color: #000000; /* Set background color */
    color: #ffffff; /* Set text color */
    padding: 10px;
    text-align: center; 
    /* max-width: none; */
  }