.container{
    padding: 8px 12px;
    cursor:default;
    display: flex;
    justify-content: center;
    /* margin-top: 1% */
}

.create-title{
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }

.form-group{
    display: flex;
    justify-content: space-between;
}

.form-control{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    max-width: max-content;
}
.form-control::placeholder{
    font-size: small;
}

.create-button-container{
    border-radius: 15px;
    width: -webkit-fill-available; ;
    height: 40px;
}

.button-group{
    display: flex;
    justify-content: center;
}

.input-description-container{
    padding-top: 5px;
    padding-right: 10px;
}