
  .search-bar-container {
    background-color: #8a958d99; /* Set background color */
    padding: 8px 12px; /* Add padding for button */
    border: 3px solid rgb(0, 0, 0); /* Remove border */
    cursor:default;
    display: flex;
    justify-content: center;
  } 

  .search-input-container{
    width: 800px
  }
  .search-button-container{
    margin-left: 15px;
  }
  