* {
  font-family: "Montserrat", sans-serif;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .app-container {
    padding: 10px;
  }

  .footer-container {
    font-size: 0.9rem;
  }
}
.homepage-container {
    padding-bottom: 120px; 
  }
  